<nav class="nav-style">

<div class="container">

    <div class="row">

        <div class="col">

        
    
        <!-- <img src="../../assets/ftr-logo.png" alt="" style="height: 100px; width: 100px;"> -->
        <img class="img-style" src="../../assets/logo.png" alt="">
    
        </div>
        <div class="col nav-div">
            <ul class="div-ul">
                <li class="li-style">
                    <a class="a-style" href="">HOME</a>
                </li>
                <li class="li-style">
                    <a class="a-style" href="">PROJECTS</a>
                </li>
                <li class="li-style">
                    <a class="a-style" href="">ABOUT US</a>
                </li>
                <li class="li-style">
                    <a class="a-style" href="">CONTACT</a>
                </li>
            </ul>
        </div>

    </div>

</div>

</nav>