.nav-style{
    background-color: #3B3B3B;
}

.img-style{
    height: 100px; 
    width: 350px;
}

.nav-div{
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.div-ul{
    display: flex; 
    list-style: none; 
    margin-bottom: 0px; 
    white-space: nowrap;
}

.li-style{
    margin-right: 10%;
}

.a-style{
    text-decoration: none; 
    color: white;
}

a:hover {
    font-weight: bolder;  
}